{
	"info": {
		"_postman_id": "5bd5506e-1a6e-4b9b-9d90-1700f714f895",
		"name": "orders",
		"schema": "https://schema.getpostman.com/json/collection/v2.1.0/collection.json"
	},
	"item": [
		{
			"name": "http://localhost:5000/api/v1/orders/2",
			"event": [
				{
					"listen": "test",
					"script": {
						"id": "fdfcdc3d-c2c2-440d-bc78-8667a7a0e404",
						"type": "text/javascript",
						"exec": [
							""
						]
					}
				}
			],
			"request": {
				"method": "PUT",
				"header": [
					{
						"key": "Content-Type",
						"value": "application/json",
						"description": "this retrieve one order when order status"
					}
				],
				"body": {
					"mode": "raw",
					"raw": ""
				},
				"url": {
					"raw": "http://localhost:5000/api/v1/orders",
					"protocol": "http",
					"host": [
						"localhost"
					],
					"port": "5000",
					"path": [
						"api",
						"v1",
						"orders"
					]
				},
				"description": "this endpoint updates the order status from pending to compled status"
			},
			"response": []
		},
		{
			"name": "http://localhost:5000/api/v1/orders/2 ",
			"event": [
				{
					"listen": "test",
					"script": {
						"id": "3de58ecf-3fc4-48a2-ad56-368ab0e8db20",
						"type": "text/javascript",
						"exec": [
							"{",
							"    \"orders\": [",
							"        {",
							"            \"id\": 1,",
							"            \"name\": \"rice\",",
							"            \"price\": 557,",
							"            \"description\": \"sweet rice\",",
							"            \"status\": \"Pending\"",
							"        }",
							"    ]",
							"}"
						]
					}
				}
			],
			"request": {
				"method": "GET",
				"header": [
					{
						"key": "Content-Type",
						"value": "application/json",
						"description": "this retrieve one order when order status"
					}
				],
				"body": {
					"mode": "raw",
					"raw": ""
				},
				"url": {
					"raw": "http://localhost:5000/api/v1/orders/2",
					"protocol": "http",
					"host": [
						"localhost"
					],
					"port": "5000",
					"path": [
						"api",
						"v1",
						"orders",
						"2"
					]
				},
				"description": "this endpoint retrieves one order details from the list,\nfor instance this gets the order details of order with id 2"
			},
			"response": []
		},
		{
			"name": "http://localhost:5000/api/v1/orders/2 ",
			"event": [
				{
					"listen": "test",
					"script": {
						"id": "af7d675b-5af3-4c64-818c-f739909ad1c5",
						"type": "text/javascript",
						"exec": [
							""
						]
					}
				}
			],
			"request": {
				"method": "DELETE",
				"header": [
					{
						"key": "Content-Type",
						"value": "application/json",
						"description": "this retrieve one order when order status"
					}
				],
				"body": {
					"mode": "raw",
					"raw": ""
				},
				"url": {
					"raw": "http://localhost:5000/api/v1/orders/2",
					"protocol": "http",
					"host": [
						"localhost"
					],
					"port": "5000",
					"path": [
						"api",
						"v1",
						"orders",
						"2"
					]
				},
				"description": "this endpoint deletes the order with id 2 from the list"
			},
			"response": []
		},
		{
			"name": "http://localhost:5000/api/v1/orders ",
			"event": [
				{
					"listen": "test",
					"script": {
						"id": "3de58ecf-3fc4-48a2-ad56-368ab0e8db20",
						"type": "text/javascript",
						"exec": [
							"{",
							"    \"orders\": [",
							"        {",
							"            \"id\": 1,",
							"            \"name\": \"rice\",",
							"            \"price\": 557,",
							"            \"description\": \"sweet rice\",",
							"            \"status\": \"Pending\"",
							"        }",
							"    ]",
							"}"
						]
					}
				}
			],
			"request": {
				"method": "POST",
				"header": [
					{
						"key": "Content-Type",
						"value": "application/json",
						"description": "this retrieve one order when order status"
					}
				],
				"body": {
					"mode": "raw",
					"raw": "{\"name\":\"rice\",\"price\":123,\"description\":\"sweet rice\"}"
				},
				"url": {
					"raw": "http://localhost:5000/api/v1/orders",
					"protocol": "http",
					"host": [
						"localhost"
					],
					"port": "5000",
					"path": [
						"api",
						"v1",
						"orders"
					]
				},
				"description": "this endpoint appends a new order to the  orders list"
			},
			"response": []
		},
		{
			"name": "http://localhost:5000/api/v1/orders ",
			"event": [
				{
					"listen": "test",
					"script": {
						"id": "3de58ecf-3fc4-48a2-ad56-368ab0e8db20",
						"type": "text/javascript",
						"exec": [
							"{",
							"    \"orders\": [",
							"        {",
							"            \"id\": 1,",
							"            \"name\": \"rice\",",
							"            \"price\": 557,",
							"            \"description\": \"sweet rice\",",
							"            \"status\": \"Pending\"",
							"        }",
							"    ]",
							"}"
						]
					}
				}
			],
			"request": {
				"method": "GET",
				"header": [
					{
						"key": "Content-Type",
						"value": "application/json",
						"description": "this retrieve one order when order status"
					}
				],
				"body": {
					"mode": "raw",
					"raw": "{\"name\":\"rice\",\"price\":123,\"description\":\"sweet rice\"}"
				},
				"url": {
					"raw": "http://localhost:5000/api/v1/orders/1",
					"protocol": "http",
					"host": [
						"localhost"
					],
					"port": "5000",
					"path": [
						"api",
						"v1",
						"orders",
						"1"
					]
				},
				"description": "this endpoint retrieves all the orders in the  orders list when the order status has been updated"
			},
			"response": []
		}
	]
}